<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<!-- alias는 mapper에서 사용할거다 -->
<typeAliases>
	<typeAlias type="com.mvc.upgrade.model.dto.BoardDto" alias="BoardDto"/>
</typeAliases>
	
<mappers>
	<mapper resource="/mybatis/board-mapper.xml"/>
</mappers>
</configuration>
