<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="park" class="com.test04.Emp">
		<property name="name" value="박진우"></property>
		<property name="salary" value="900"></property>
	</bean>
	
	<bean id="parks" class="com.test04.Engineer">
		<constructor-arg name="emp" ref="park"></constructor-arg>
		<constructor-arg name="dept" value="기술팀"></constructor-arg>
	</bean>
	
	<bean id="kim" class="com.test04.Emp">
		<property name="name" value="킴킴"></property>
		<property name="salary" value="900"></property>
	</bean>
	
	<bean id="kims" class="com.test04.Developer">
		<constructor-arg name="emp" ref="kim"></constructor-arg>
		<constructor-arg name="dept" value="개발팀"></constructor-arg>
	</bean>

</beans>
